.popular-people-lists-title {
  font-size: 2rem;
  text-align: start;
  margin: 2rem 0 1rem;
  color: #fff;
  padding-bottom: 20px;
  font-family: 'bold-poppins-font';
  margin-left: 25px;
}

.popular-people-container {
  display: flex;
  justify-content: center;
  padding: 0 1rem;
}

.popular-people-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 150px;
  justify-content: center;
  max-width: 1200px;
  padding-bottom: 50px;
}

.home-page-button {
  padding: 10px 20px;
  background-color: #c1121f;
  border-radius: 5px;
  position: absolute;
  right: 85px;
  top: 4px;
  border: none;
}
