.original-movie-title {
  font-size: 30px;
  color: red;
}

.now-playing-movie-lists-title {
  text-align: center;
  margin: 20px 0;
  font-size: 2rem;
  color: #333;
}

.now-playing-movie-container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1780px;
}

.now-playing-movie-list-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 20px;
  gap: 20px;
}

.now-playing-movie-list-container::-webkit-scrollbar {
  display: none;
}

.now-playing-movie-list-container {
  scrollbar-width: none;
}

.movieList-details-container {
  flex-shrink: 0;
  width: 300px;
  scroll-snap-align: start;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  box-sizing: border-box;
}

.movie-images-scroller {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  gap: 10px;
  padding-bottom: 10px;
}

.movie-images-scroller::-webkit-scrollbar {
  display: none;
}

.movie-images-scroller {
  scrollbar-width: none;
}

.movie-image-card {
  flex-shrink: 0;
  scroll-snap-align: start;
  width: 260px;
}

.movie-image {
  width: 104%;
  height: 100%;
  display: block;
  border-radius: 8px;
}

.movie-image-backdrop {
  width: 200%;
  height: 97%;
  display: block;
  border-radius: 8px;
}

.movieList-details-card {
  margin-top: 15px;
  line-height: 1.6;
}

.original-movie-title {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: red;
}

.movieList-details-card p {
  font-size: 0.9rem;
  color: #fff;
  margin-bottom: 5px;
}

.star-rating span {
  font-size: 1.2rem;
}

.flip-wrapper {
  perspective: 1000px;
  width: 250px;
  height: 375px;
}

.flip-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-wrapper:hover .flip-inner {
  transform: rotateY(180deg);
}

.flip-front,
.flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
}

.flip-front {
  background: #fff;
  z-index: 2;
}

.flip-back {
  background: #1c1c1c;
  color: white;
  transform: rotateY(180deg);
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.movie-overview {
  font-size: 0.9rem;
  line-height: 1.4;
}

.movie-image {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.favorite_icon {
  cursor: pointer;
}

.favorite_icon {
  fill: #fff;
  transition: fill 0.3s ease;
}

.favorite_icon.favorited {
  fill: red;
  stroke: red;
}
