.user-card-details {
  position: absolute;
  top: calc(100% + 10px);
  left: 40%;
  transform: translateX(-50%);
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: black;
  border-radius: 5px;
  max-width: 250px;
  min-width: 150px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
  margin-top: 12px;
}

.user-card-greeting {
  color: #333;
  font-weight: bold;
}

.user-card-username {
  font-size: 1.1em;
  color: red;
  font-family: 'bold-poppins-font';
}

.user-card-name {
  font-size: 0.9em;
  color: #666;
}

.user-card-id {
  color: #fff;
  font-family: bold;
  font-weight: bold;
}

.user-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.user-card {
  position: absolute;
  cursor: pointer;
  margin-left: 20px;
  color: black;
  top: 1%;
  right: 5%;
}
