.person-card-container {
  background-color: black;
  border-radius: 12px;
  box-shadow: 1px 8px 17px rgba(1, 2, 3, 4);
  width: 440px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.person-card-container:hover {
  transform: scale(1.07);
}

.person-header {
  display: flex;
  padding: 1rem;
  border-bottom: 2px solid #c1121f;
  justify-content: space-around;
}

.person-profile-image {
  width: 80px;
  height: 100px;
  object-fit: cover;
  border-radius: 58px;
  margin-right: 1rem;
  color: #fff;
}

.person-info h2 {
  font-size: 1.4rem;
  margin: 0;
  color: #c1121f;
}

.person-info p {
  margin: 10px 0;
  font-size: 0.92rem;
  color: #fff;
}

.known-for-movies h3 {
  font-size: 1.5rem;
  margin-bottom: 0.9rem;
  color: #fff;
}

.known-for-movies {
  padding: 1rem;
}
