.header-body {
  background-color: #f8f7ff;
  margin-top: 83px;
}

.cinex-logo {
  color: #bf0603;
  font-size: 40px;
  font-family: 'bold-poppins-font';
}

.cineX-logo-box {
  text-align: end;
  margin-right: 10px;
}

.menuIcon {
  position: absolute;
  color: black;
  top: 2%;
  cursor: pointer;
}

.logo {
  width: 60px;
}

.icons {
  display: flex;
  justify-content: flex-end;
  margin-top: -83px;
}

.userIcon {
  margin-right: 12px;
  margin-top: 10px;
  cursor: pointer;
}
