.now-playing-movie-lists-title {
  color: #fff;
  font-family: 'bold-poppins-font';
  text-align: start;
  margin-left: 20px;
  font-size: 30px;
}

.now-playing-movie-list-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 20px;
  gap: 20px;
}

.loader-container {
  text-align: center;
  margin-top: 50px;
}

.now-playing-movie-container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1780px;
}

.now-playing-movie-list-container::-webkit-scrollbar {
  display: none;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
}
