.now-playing-movie-list-container {
  display: flex;
  gap: 35px;
  margin-top: 20px;
  padding: 20px;
}

.now-playing-movie-lists-title {
  color: #fff;
  font-family: 'bold-poppins-font';
  text-align: start;
  margin-left: 40px;
  font-size: 35px;
}

.loader-container {
  margin-top: 50px;
  text-align: center;
}

.now-playing-movie-container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1780px;
}

.now-playing-movie-list-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 20px;
  gap: 20px;
}

.now-playing-movie-list-container::-webkit-scrollbar {
  display: none;
}

.now-playing-movie-list-container {
  scrollbar-width: none;
}
